{% extends 'base.html.twig' %}
{% block title %}List users{% endblock %}

{% block body %}
    {% for message in app.flashes('primary') %}
        <div class="alert alert-primary">
            {{ message|raw }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message|raw }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message|raw }}
        </div>
    {% endfor %}

    <h1>Users</h1>

    {% if tableRows %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for row in tableRows %}
                <tr>
                    <td>{{ row.user.id }}</td>
                    <td>{{ row.user.email }}</td>
                    <td>{{ row.user.username }}</td>
                    <td class="d-flex">
                        <a href="{{ path('users.show', {user: row.user.id}) }}" class="btn btn-primary">Edit</a>
                        {{ form(row.deleteForm) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="mb-3">
            Hmm, it doesn't seem like there are any users yet. You can create one below
        </div>
    {% endif %}

    <div>
        <a href="{{ path('users.create') }}" class="btn btn-primary">Create</a>
    </div>

    <script src="{{ asset('javascript/user/confirmDelete.js') }}"></script>
{% endblock %}